body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.header-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: -10px;
}
.header2{
    margin-left: 30px;
}
form {
    max-width: 300px;
    margin: 0 auto;
    }
a{
    text-decoration: none;
    color: blue;
}
input {
    display: block;
    margin: 3px 0px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.password {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin:10px 0px;
}

#termsCheckbox {
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom:80px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}
.chbx{
    margin-left:-43px;
}
.tc {
    margin-left: 10px;
}
@media (max-width: 768px) {
    body {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header2 {
        margin-left: 0;
        margin-top: 10px;
    }

    .chbx {
        margin-left: 0;
    }

    form {
        max-width: 100%;
    }
}